<%- include("../partials/header")%>
<% if((currentUser.isAdmin)){ %>
    <div class="nav_but">
        <a class="btn btn-primary btn-lg" href="/c_material/update" role="button">ADD new question </a>
      </div>
<% } %>
<% c_ques.forEach(function(c_que){%>
<div class="container" style="border: 2px solid gray; border-radius:3px; margin-bottom:20px;box-shadow: 5px 5px #010f26;">
    <h5><%=c_que.question%><br></h5>
<button data-toggle="collapse" class="btn btn-primary" data-target="#<%=c_que._id %>">Solution</button>
<div id="<%=c_que._id %>" class="collapse">
    <h6><%=c_que.answer%><h6>
</div>
</div>
<%});%>